.accordion-collapse {
  background-color: $myDark;
}

.accordion-button {
  background-color: $myDark;
  color: white;
  border-left: 2rem solid white;
}

.accordion-button:not(.collapsed) {
  background-color: $myDark;
  color: $main;
}

.accordion-button:hover {
  color: $main;
  background-color: rgb(50, 48, 48);
  border-color: $main;
}
