.btn-sort {
  background: none;
  font-weight: bold;
}
.btn-sort:hover {
  background: $myGreen;
  color: $myDark;
}

.add-btn {
  font-size: 40px;
  color: $myGreen;
  font-weight: normal;
}

.add-btn:hover {
  color: white;
}

.bi-backspace:hover {
  opacity: 0.4;
}
.btn,
.btn:hover,
a:hover {
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: $myDark;
  color: $myPink;
}

.disabled {
  opacity: 0.7;
}

#page-indication {
  background: none;
}

#closeBtn-wrapper {
  border-bottom: 0;
}

#edit-avatar {
  position: absolute;
  top: 0;
  right: 5%;
}

#navBtn {
  height: 50px;
  width: 50px;
}
