.card-title {
  color: $myDark;
}

.card {
  background-color: rgb(239, 237, 237);
}

.card-specific {
  color: #fff;
  background: $myDark;
  border: none;
}

img {
  object-position: center center;
  object-fit: cover;
}
