.carousel-item {
  max-height: 400px;
  margin: auto;
}

.carousel-item > * {
  max-width: 100%;
  max-height: 100%;
  object-position: center center;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $myDark;
}
