.logo {
  font-family: "Comfortaa", cursive;
  // border: #fff solid 3px;
  padding: 0 1rem 0 1rem;
  // color: $myGreen;
}

.logo-large {
  font-size: 6em;
}
.add-btn {
  padding: 0;
  color: #fff;
  border-radius: 50%;
}

.add-btn:hover {
  color: grey;
}

a {
  color: $myGreen;
  text-decoration: none;
}

a:hover {
  color: rgb(8, 133, 116);
  text-decoration: underline;
}
