@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Noto+Sans+NKo&display=swap");

// Font-styles
// $font-family-sans-serif: Gudea, system-ui, -apple-system, "Segoe UI", Roboto;
$font-family-sans-serif: "Comfortaa";
$headings-font-family: "Comfortaa", sans-serif;

body {
  font-family: "Noto Sans NKo", sans-serif;
}
