// BS var overrides
@import "variables";

// BS styles
// @import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// custom styles
@import "./components/header";
@import "./components/formInput";
@import "./components/button";
@import "./components/card";

// Font-styles

body {
  font-family: "Noto Sans NKo", sans-serif;
  background-color: #2b2d34;
  color: #fff;
}

.text-muted {
  color: #d7d7d8;
}
